.top-image{
    border: 1px solid black;
    margin-top: 30px;
}
.SubmitButtondiv{
    /* background-color: rgb(121, 99, 99); */
    height:50px;
  
}
.SubmitButton{
   margin-left: 1200px;
   margin-top: 10px;
   padding: 8px 15px 8px 15px;
   font-size: 22px;
   background-color: rgb(27, 16, 8);
   color: white;
   cursor:pointer;
}
.navBar{
    position: absolute;
    top: 150px;
    color: white;
}
.navbar h1 {
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
.navBar ul {
    margin-left: 800px;
}
.navBar ul li{
    display: inline;
    margin-left: 50px;
    font-size: 25px;
    font-weight: bolder;
    margin-top: -20px;
    position: relative;
    top: -30px;
    cursor: pointer;
    color: white;
   
}
.after_image{
    position: absolute;
    bottom: 1px;
    /* left: 500px; */
    /* width: 500px; */
    padding: 5px 200px ;
    /* border: 1px solid red; */
}
.after_image h1{
    margin-left: 370px;
    font-size: 50px;
    color: white;
}
.after_image p {
    color: white;
}
.template_btn{
    margin-left: 470px;
    margin-top: 30px;
    padding: 5px 10px;
    font-size: 20px;
    opacity: 0.4;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}