.grid-main{
    display: grid;
    grid-template-columns: 450px 500px;
    /* border: 1px solid red; */
    margin-left: 200px;
    margin-top: 110px;
    height: 400px;
    
    
}
.first-grid{

    border-radius: 15px;   
    border: 1px solid rgb(143, 124, 124); 
    padding-top: 20px;
    text-align: center;
    font-size: 35px;
    background-color:white;
    box-shadow: 5px 5px 5px 5px grey;
}
.second-grid{
    border: 1px solid rgb(121, 109, 109);
   border-radius: 15px; 
    margin-left: 50px;
    padding-top: 20px;
    text-align: center;
    font-size: 35px;
    background-color:white;
    box-shadow: 5px 5px 5px 5px grey;

}


.create_link2{
    border:1px solid black;
    text-decoration: none;
    position: relative;
    top:80px;
    
    /* margin-left:610px; */
    padding :15px 30px 15px 30px;
    font-size: 30px;
    border-radius: 10px;
    color:black;
}
.create_link2:hover{
    background-color:#494949;
    color: white;
    border:2px solid black;
    font-weight: bold;
    box-shadow:10px 10px 10px darkgrey;
}