#gjs {
    border: 3px solid #444;
    height: 100%;
  }
  .main-name{
   position:relative;
   top: -10px;
   left: -20px;
   font-size: 30px;
   /* padding-top: -0px; */
   padding-bottom: -30px;
  }
  
  /* Reset some default styling */
  .gjs-cv-canvas {
    top: 0;
    /* width: 100%; */
    height: 100vh;
    width: 100%;
    left: 3%;
      
  }

  .gjs-block {
    width: 120px;
    height: 120px;
    min-height: auto;
  }
  .panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
    /* margin-top: 100px; */
    padding-top: 10px;
   
  }
  /* .gjs-pn-panel{
position: relative;
  } */

  .panel__basic-actions {
    position: initial;
    margin-left: 30px;
  }
  .editor-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 300px;
  }
  
  .editor-canvas {
    flex-grow: 1;
  }
 
  .panel__devices {
    position: initial;
    /* left: 100px; */
    /* margin-left: 30px; */
  }
 
  .panel__right {
    /* flex-basis: 300px; */
    width: 300px;
height: 100vh;
    position: relative;
    /* overflow-y: auto; */
  }
  .panel__switcher {
    position: initial;
    font-size: 25px;
  }
  .section{
   color: blue;
  }
  #text{
    color: aqua;
  }
  #blocks{
    width: 100%;
    height: 100%;
  }
  .styles-container{
    height: 200px;
    word-wrap: break-word;
  }