*{
    margin:0;
    padding:0;
    box-sizing: border-box;   
}
.navbar{
    background-color:#494949;
    
    position: fixed;
    top:-1px;
    width: 100%;
    height:50px;
    
    /* border-bottom: 2px solid rgb(68, 61, 61);
    border-top: 2px solid rgb(78, 68, 68); */
    
    /* padding-top:10px; */
}

.title{
    /* text-shadow: 0 0 2px black, 0 0 2px black; */
    /* padding-bottom:8px; */
    color:white;
    margin-left: 50px;
    font-size: 29px;
     position: relative;
    top:3px;
} 

.navbarLinks {
    position: relative;
    top: -46px;
    color:white;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
 
}
.style_icon{
    position: relative;
    top: 12px;
   font-size: 40px;
}
.Home:hover{
    text-shadow: 0 0 1px white, 0 0 1px white;
}

.Home{
    color: white;
    margin-right: 60px;
    text-decoration: none;
    
    /* cursor: pointer; */
}

