*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  .main_heading_select_div{
    background-color: white;
    width:490px;
    border-radius: 10px;
   padding-top: 10px;
   /* margin-right: 1000px; */
  position: relative;
  right: 25px;
  border-bottom: 1px solid black;
  height: 80px;
  
  }
.main_heading_select{
margin-left: 100px;
margin-top: 10px;
/* Add animation (Standard syntax) */
/* @keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
} */
}
@keyframes example {
  0% {opacity: 0;top: 0%;}
  25%{opacity: 0.2;top: 0%;}
  50%{opacity: 0.5;top: 0%;}
  75%{opacity: 0.7;top: 0%;}
  100%{opacity: 1; top: 20%;}
  /* from {opacity: 0;;}
  to   {opacity: 1;;} */
}

.modal,.overlay{
  width: 100%;
  height:100vh;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 

 
}
  
 .overlay{
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.3;
  }
   .modal-content{
    position: absolute;
    top: 15%;
    left: 30%;
    background-color: white;
    max-width: 500px;
   height: 470px;
    /* padding: 30px; */
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px 7px grey;
    border: 2px solid black;
     /* Add animation */
  animation-name: example; /* Chrome, Safari, Opera */
  animation-duration: 0.7s; /* Chrome, Safari, Opera */

  }
  .contain{
      width:550px;
      height: 150px;
      border: 2px solid black;
      max-width: 430px;
    max-height: 120px;
    overflow: hidden;
    word-wrap: break-word;
    border-radius: 15px;
    margin-top: 30px;
    
   
  }
.contain ul {
    display: block; 
     list-style-type:none;
    margin-top: 10px;
    padding-left: 0px;
    
  }
.contain ul li {
      display: inline;
      margin-left: 10px;
      
      font-size: 22px;
     word-spacing: 60px;
      border: 1px solid black;
      border-radius: 15px;
      padding: 6px;
      line-height: 2.2em;
      line-break: auto;
      cursor: pointer;
      
  }
  .contain ul li:target{
   background-color: black;
  }


.second_heading{
  position: relative;
  /* bottom: -70px; */
  top: 20px;
}
  
  .red{
    background-color: #494949;
    color: white;
    font-weight: bolder;
    
  }
  .white{
    background-color: white;
  }
  
  /* ********* prefrence section ********* */
  
 
  .dark{
    margin-bottom: 25px;
    padding: 10px 320px 10px 10px;
    margin-top: 20px;
  }
    .light{
      margin-bottom: 25px;
      padding: 10px 320px 10px 10px
    }
  .dark:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  .light:hover{
    background-color: wheat;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  /* ******** next button ********** */
  .next{
    position: relative;
    top: 160px;
    left: 150px;
    /* display: block; */
    background-color: white;
    font-size: 23px;
    /* padding-left: 180px; */
   padding: 5px 50px 5px 50px;
   border-radius: 10px;
   cursor: pointer;
   text-decoration: none;
   border: 1px solid black;
   

}
.next:hover{
  background-color: #494949;
  color: white;
  font-weight: bolder;
}
.back{
  position: relative;
  bottom: -45px;
  left: 400px;
  text-decoration: none;
}

/* *********************** */
.choice{
  cursor: pointer;
  /* height: 10px; */
  /* width: auto; */
  /* display: inline; */
  /* border: 1px solid red;
  border-radius: 20px; */
  /* margin-left: 20px; */
  font-size: 24px;
  /* padding: 2px; */
  list-style-type:none;
  /* position: relative;
  top: 100px; */
 padding: 5px 50px 5px 50px;
 
}
.List{
  display: inline;
  margin-left: 15px;
  margin-top: 20px;
}
.mainList{
  height: 300px;
  width: auto;
  display: inline;
  border: 1px solid black;
  background-color: rgb(79, 226, 79);
  border-radius: 20px;
  padding-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 25px;
  position: relative;
  /* top: 300px; */
}
.chiceList{
  /* border: 1px solid black; */
  position: relative;
 top: 90px;
 left: 55px;
 width: 300px;
 height:200px;
 /* word-wrap: break-word;
 word-spacing: 800px; */
 display:flex;
 /* flex-wrap: wrap; */
 word-wrap: break-word;
 padding: 5px 50px 5px 50px ;
}
.choice:hover{
  background-color: bisque;
  /* padding: 5px 50px 5px 50px ; */
  border-radius: 15px;
}
.appeared{
  border: 1px solid black;
  height: 55px;
  /* height: auto; */

  width: 450px;
  /* width: auto; */
  padding: 10px;
  max-width: 450px;

  position: relative;
  top: 100px;
} 
.remButton{
  border: none;
  border-radius: 50%;
  background-color: white;
  font-size: 18px; 
  position: relative;
  left: 5px;
  bottom: 3px;
  cursor: pointer;
}
.remButton:hover{
  background-color: red;
}
.main_heading_div_pref{
  background-color: antiquewhite;
  width:530px;
  border-radius: 10px;
 padding-top: 20px;
 margin-bottom: 20px;
position: absolute;
right: 1px;
border: 1px solid black;

}
.main_heading_pref{
margin-left: 170px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 26px;
border: 1px solid black;
}
.head{
  color: black;
  border: 1px solid black;
}
.next_pref{
  position: relative;
  top: 140px;
  left: 180px;
  /* display: block; */
  background-color: white;
  font-size: 23px;
  /* padding-left: 180px; */
 padding: 5px 50px 5px 50px;
 border-radius: 10px;
 cursor: pointer;
 text-decoration: none;
 border: 1px solid black;
 

}
.next_pref:hover{
background-color: wheat;
font-weight: bolder;
}
.back_pref{
position: relative;
top: 150px;
left: 300px;
text-decoration: none;
}