.Selected{
    border: 1px solid black;
    border-radius: 15px;
    width:300px;
    height:50px;
    margin-left:410px ;
    margin-top:100px ;  
}
.Choice{
    /* border: 1px solid black; */
    border-radius: 15px;
    width:190px;
    height:70px;
    margin-left:10px ;
    margin-top:50px ; 
    padding: 10px;     
    
}
.Choice li{
    
      /* display: inline-block; */
      font-size: 22px;
      /* border: 1px solid rgb(116, 113, 113); */
      position: relative;
      bottom: 70px;
      left: 30px;
      padding:7px;
      border-radius: 25px;
      list-style-type: none;
}
.Choice li:hover{
    cursor: pointer;
    background-color:rgb(251, 242, 203);
    border:2px solid black;
    font-weight: bold;
    box-shadow:10px 10px 10px darkgrey;
    
}
.categoryDiv{
    margin-left:500px ;
    margin-top: 30px;
    font-size: 49px;
    font-weight: bold;
    /* border: 1px solid red; */
}
input{
    width: 1000px;
    padding-left: 20px;
    font-size: 20px;
    position: relative;
    bottom: 50px;
    right: 360px;
 
}



